@import 'https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;900&family=Montserrat:wght@100;200;400;600&display=swap';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "Inter", "sans-serif";
  color: #444444;
}

.container {
  margin: 0 auto;
}

header {
  width: 100%;
  padding: 20px 0;
  background-color: #C7CEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "";
}

.weather-output-wrapper {
  padding: 100px;
}
.weather-output-wrapper .user-input {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 10px;
}
.weather-output-wrapper .user-input .input-field,
.weather-output-wrapper .user-input .show-weather-btn {
  outline: none;
  width: 180px;
  height: 50px;
  border: 2px solid #444444;
  font-family: "Inter";
  font-size: 20px;
  font-weight: medium;
  color: #444444;
}
.weather-output-wrapper .user-input .input-field {
  padding: 0 20px 0;
  transition: all 0.5s ease;
}
.weather-output-wrapper .user-input .input-field:hover, .weather-output-wrapper .user-input .input-field:focus {
  border: 2px solid rgba(68, 68, 68, 0.6);
}
.weather-output-wrapper .user-input .show-weather-btn {
  background-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.weather-output-wrapper .user-input .show-weather-btn:hover, .weather-output-wrapper .user-input .show-weather-btn:focus {
  background-color: rgba(26, 104, 176, 0.1);
  transform: translateX(5px);
}
.weather-output-wrapper .user-input .user-input-error {
  display: none;
  visibility: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 15px;
  border: 1px solid rgba(231, 77, 60, 0.9);
  background-color: #F9DBDB;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: #eb2f06;
}
.weather-output-wrapper .user-input .user-input-error.error-field-active {
  display: block;
  visibility: visible;
}
.weather-output-wrapper .weather-data .city .city-name {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  color: #444444;
}
.weather-output-wrapper .weather-data .weather-data-fields.data-fields-closed {
  height: 0;
  padding: 0;
  overflow: hidden;
}
.weather-output-wrapper .weather-data .weather-data-fields,
.weather-output-wrapper .weather-data .weather-data-fields.data-fields-opened {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: "";
}
.weather-output-wrapper .weather-data .weather-data-fields .weather-data-today,
.weather-output-wrapper .weather-data .weather-data-fields .weather-data-hourly,
.weather-output-wrapper .weather-data .weather-data-fields.data-fields-opened .weather-data-today,
.weather-output-wrapper .weather-data .weather-data-fields.data-fields-opened .weather-data-hourly {
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.weather-output-wrapper .weather-data .weather-day-title {
  margin: 0 0 20px 0;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  color: #1A68B0;
}
.weather-output-wrapper .weather-data .weather-day-title .weather-brief-description {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: #1A68B0;
}
.weather-output-wrapper .weather-data .weather-day-title .current-date {
  display: block;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 400;
  color: #444444;
}
.weather-output-wrapper .weather-data .weather-data-today .weather-day-title {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: "";
}
.weather-output-wrapper .weather-data .field {
  width: 240px;
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease-in;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: "";
}
.weather-output-wrapper .weather-data .field .field-indicators {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  color: #1A68B0;
}
.weather-output-wrapper .weather-data .field.error-border {
  border-bottom: 1px solid rgba(216, 74, 58, 0.6);
}
.weather-output-wrapper .weather-data .field.field-border-active {
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
}
.weather-output-wrapper .weather-data .weather-hourly-fields {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}
.weather-output-wrapper .weather-data .weather-hourly-fields .hourly-header {
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: "";
}
.weather-output-wrapper .weather-data .weather-hourly-fields .hourly-header .hourly-field {
  padding: 0 0 5px 0;
}
.weather-output-wrapper .weather-data .weather-hourly-fields .hourly-header .hourly-field .measurement-temp,
.weather-output-wrapper .weather-data .weather-hourly-fields .hourly-header .hourly-field .measurement-percent,
.weather-output-wrapper .weather-data .weather-hourly-fields .hourly-header .hourly-field .measurement-wind {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  color: #1A68B0;
}
.weather-output-wrapper .weather-data .weather-hourly-fields .hourly-body .hourly-table-row {
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: "";
}
.weather-output-wrapper .weather-data .weather-hourly-fields .hourly-body .hourly-table-row .hourly-row-indicator {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  color: #1A68B0;
}/*# sourceMappingURL=style.css.map */