@import 'https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;900&family=Montserrat:wght@100;200;400;600&display=swap';
@import './variables.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	font-family: 'Inter', 'sans-serif';
	color: $text-dark;
}

.container {
	margin: 0 auto;
}

header {
	width: 100%;
	height: 10vh;
	background-color: $accent-purple;
	@include flex(center, center, '');

	.title {
		user-select: none;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		position: relative;
		@include font('Montserrat', 35px, 250, rgba(0, 0, 0, 0.1));

		&::after {
			content: 'what\'s the weather now?';
			display: block;
			position: absolute;
			bottom: 0;
			left: 20%;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			@include font('Montserrat', 20px, 600, $text-dark);
		}
	}
}

.preview {
	user-select: none;
	padding: 90px 0 0 0;
	width: 940px;
	margin: 0 auto;

	.preview-title {
		position: relative;
		@include font('Montserrat', 20px, 600, $text-dark);

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 50%;
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: $accent-green;
			z-index: -1;
		}
	}

	.preview-content {
		margin: 30px 0 0 0;
		width: 100%;
		border: 2px solid #777;
		background-color: #f8f8f8;
		position: relative;

		.preview-buttons {
			user-select: none;
			column-gap: 40px;
			@include flex(start, center, '');

			.preview-button {
				width: 200px;
				height: 50px;
				@include flex(center, center, '');
				@include font('Inter', 18px, 400, $text-dark)
			}

			.preview-input {
				color: rgba($text-dark, 0.4);
				border: 1px solid #333;
				position: relative;

				&::before {
					content: '';
					display: block;
					width: 8px;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					background-color: #333;
				}
			}

			.preview-show {
				background-color: #fff;
			}
		}

		.preview-output {
			margin: 40px 0 0 0;

			.preview-city-header {
				text-transform: uppercase;
				@include font('Montserrat', 24px, 600, $text-dark);
			}

			.preview-city-info {
				margin: 20px 0 0 0;

				.city-info-list {
					display: grid;
					grid-template: repeat(4, 30px) / 130px 80px;

					span.city-info-item {
						justify-self: center;
						@include font('Inter', 18px, 600, $accent-blue);
					}
				}
			}

			.preview-illustration {
				position: absolute;
				right: -10%;
				top: 30%;

				img {
					width: 300px;
					height: 300px;
				}
			}
		}
	}
}

.scroll-down-wrapper {
	position: relative;
	@include flex(center, center, '');

	.scroll-down-btn {
		cursor: pointer;
		width: 85px;
		height: 85px;
		background-color: $accent-purple;
		border: 1px solid $text-dark;
		transform: rotate(45deg);
		position: relative;
		transition: transform cubic-bezier(.59, .9, .72, 1.07) 0.2s;

		&:hover {
			transform: scale(1.07) rotate(45deg);
		}

		.scroll-down-arrow {
			position: absolute;
			top: 54%;
			left: 54%;
			border-style: solid;
			border-width: 15px 9px 0 9px;
			border-color: $text-dark transparent transparent transparent;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	.line {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $text-dark;
		z-index: -1;
	}
}

.weather-output-wrapper {
	padding: 0 100px 100px 100px;

	.user-input {
		column-gap: 30px;
		@include flex(start, center, '');

		.input-field,
		.show-weather-btn {
			outline: none;
			width: 180px;
			height: 50px;
			border: 2px solid $text-dark;
			@include font('Inter', 20px, medium, $text-dark);
		}

		.input-field {
			padding: 0 20px 0;
			transition: all 0.5s ease;

			&:hover,
			&:focus {
				border: 2px solid rgba($text-dark, 0.8);
			}
		}

		.show-weather-btn {
			background-color: #fff;
			cursor: pointer;
			text-transform: uppercase;
			transition: all 0.5s ease;

			&:hover,
			&:focus {
				background-color: rgba($accent-blue, 0.1);
				transform: translateX(5px);
			}
		}
	}

	.weather-data {
		.city {
			margin: 20px 0 30px;
			text-transform: uppercase;
			@include font('Montserrat', 24px, 600, $text-dark);
		}

		.weather-data-fields {
			@include flex(start, start, column);
			gap: 10px;

			.field {}
		}
	}


}