@import 'https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;900&family=Montserrat:wght@100;200;400;600&display=swap';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
html {
  font-family: "Inter", "sans-serif";
  color: #444444;
}

.container {
  margin: 0 auto;
}

header {
  width: 100%;
  height: 10vh;
  background-color: #C7CEEE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "";
}
header .title {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
  font-family: "Montserrat";
  font-size: 35px;
  font-weight: 250;
  color: rgba(0, 0, 0, 0.1);
}
header .title::after {
  content: "what's the weather now?";
  display: block;
  position: absolute;
  bottom: 0;
  left: 20%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  color: #444444;
}

.preview {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 90px 0 0 0;
  width: 940px;
  margin: 0 auto;
}
.preview .preview-title {
  position: relative;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 600;
  color: #444444;
}
.preview .preview-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(114, 215, 190, 0.5);
  z-index: -1;
}
.preview .preview-content {
  margin: 30px 0 0 0;
  width: 100%;
  border: 2px solid #777;
  background-color: #f8f8f8;
  position: relative;
}
.preview .preview-content .preview-buttons {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -moz-column-gap: 40px;
       column-gap: 40px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: "";
}
.preview .preview-content .preview-buttons .preview-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "";
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}
.preview .preview-content .preview-buttons .preview-input {
  color: rgba(68, 68, 68, 0.4);
  border: 1px solid #333;
  position: relative;
}
.preview .preview-content .preview-buttons .preview-input::before {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
}
.preview .preview-content .preview-buttons .preview-show {
  background-color: #fff;
}
.preview .preview-content .preview-output {
  margin: 40px 0 0 0;
}
.preview .preview-content .preview-output .preview-city-header {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  color: #444444;
}
.preview .preview-content .preview-output .preview-city-info {
  margin: 20px 0 0 0;
}
.preview .preview-content .preview-output .preview-city-info .city-info-list {
  display: grid;
  grid-template: repeat(4, 30px)/130px 80px;
}
.preview .preview-content .preview-output .preview-city-info .city-info-list span.city-info-item {
  justify-self: end;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  color: #1A68B0;
}
.preview .preview-content .preview-output .preview-illustration {
  position: absolute;
  right: -10%;
  top: 30%;
}
.preview .preview-content .preview-output .preview-illustration img {
  width: 300px;
  height: 300px;
}

.scroll-down-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "";
}
.scroll-down-wrapper .scroll-down-btn {
  cursor: pointer;
  width: 85px;
  height: 85px;
  background-color: #C7CEEE;
  border: 1px solid #444444;
  transform: rotate(45deg);
  position: relative;
  transition: transform cubic-bezier(0.59, 0.9, 0.72, 1.07) 0.2s;
}
.scroll-down-wrapper .scroll-down-btn:hover {
  transform: scale(1.07) rotate(45deg);
}
.scroll-down-wrapper .scroll-down-btn .scroll-down-arrow {
  position: absolute;
  top: 54%;
  left: 54%;
  border-style: solid;
  border-width: 15px 9px 0 9px;
  border-color: #444444 transparent transparent transparent;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.scroll-down-wrapper .line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #444444;
  z-index: -1;
}

.weather-output-wrapper {
  padding: 0 100px 100px 100px;
}
.weather-output-wrapper .user-input {
  -moz-column-gap: 30px;
       column-gap: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: "";
}
.weather-output-wrapper .user-input .input-field,
.weather-output-wrapper .user-input .show-weather-btn {
  outline: none;
  width: 180px;
  height: 50px;
  border: 2px solid #444444;
  font-family: "Inter";
  font-size: 20px;
  font-weight: medium;
  color: #444444;
}
.weather-output-wrapper .user-input .input-field {
  padding: 0 20px 0;
  transition: all 0.5s ease;
}
.weather-output-wrapper .user-input .input-field:hover, .weather-output-wrapper .user-input .input-field:focus {
  border: 2px solid rgba(68, 68, 68, 0.6);
}
.weather-output-wrapper .user-input .show-weather-btn {
  background-color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease;
}
.weather-output-wrapper .user-input .show-weather-btn:hover, .weather-output-wrapper .user-input .show-weather-btn:focus {
  background-color: rgba(26, 104, 176, 0.1);
  transform: translateX(5px);
}
.weather-output-wrapper .user-input .user-input-error {
  height: 50px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 15px;
  border: 1px solid rgba(231, 77, 60, 0.9);
  background-color: #F9DBDB;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  color: #eb2f06;
}
.weather-output-wrapper .user-input .user-input-error.error-field-active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.weather-output-wrapper .weather-data .city .city-name {
  text-transform: uppercase;
  font-family: "Montserrat";
  font-size: 24px;
  font-weight: 600;
  color: #444444;
}
.weather-output-wrapper .weather-data .city .weather-brief-description {
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 400;
  color: #1A68B0;
}
.weather-output-wrapper .weather-data .weather-data-fields {
  gap: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.weather-output-wrapper .weather-data .weather-data-fields .field {
  width: 240px;
  border-bottom: 1px solid transparent;
  transition: border 0.3s ease-in;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: "";
}
.weather-output-wrapper .weather-data .weather-data-fields .field .field-indicators {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
  color: #1A68B0;
}
.weather-output-wrapper .weather-data .weather-data-fields .field.error-border {
  border-bottom: 1px solid rgba(216, 74, 58, 0.6);
}
.weather-output-wrapper .weather-data .weather-data-fields .field.field-border-active {
  border-bottom: 1px solid rgba(119, 119, 119, 0.1);
}/*# sourceMappingURL=style.css.map */