@import 'https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;900&family=Montserrat:wght@100;200;400;600&display=swap';
@import './variables.scss';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body,
html {
	font-family: 'Inter', 'sans-serif';
	color: $text-dark;
}

.container {
	border: 1px solid red;
	margin: 0 auto;
}

header {
	width: 100%;
	padding: 20px 0;
	background-color: $accent-purple;
	@include flex(center, center, '');
}

.weather-output-wrapper {
	padding: 100px;

	.user-input {
		column-gap: 30px;
		row-gap: 10px;
		@include flex(start, start, column);

		.input-field,
		.show-weather-btn {
			outline: none;
			width: 180px;
			height: 50px;
			border: 2px solid $text-dark;
			@include font('Inter', 20px, medium, $text-dark);
		}

		.input-field {
			padding: 0 20px 0;
			transition: all 0.5s ease;

			&:hover,
			&:focus {
				border: 2px solid rgba($text-dark, 0.6);
			}
		}

		.show-weather-btn {
			background-color: #fff;
			cursor: pointer;
			text-transform: uppercase;
			transition: all 0.5s ease;

			&:hover,
			&:focus {
				background-color: rgba($accent-blue, 0.1);
				transform: translateX(5px);
			}
		}

		.user-input-error {
			display: none;
			height: 50px;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-10px);
			transition: opacity 0.3s ease-out, transform 0.3s ease-out;
			user-select: none;
			padding: 15px;
			border: 1px solid rgba(231, 77, 60, 0.9);
			background-color: #F9DBDB;
			@include font("Montserrat", 16px, 500, #eb2f06)
		}

		.user-input-error.error-field-active {
			display: block;
			visibility: visible;
			opacity: 1;
			transform: translateY(0);
		}
	}

	.weather-data {
		.city {
			.city-name {
				text-transform: uppercase;
				@include font('Montserrat', 24px, 600, $text-dark);
			}
		}

		.weather-data-fields.data-fields-closed {
			height: 0;
			padding: 0;
			overflow: hidden;
		}

		.weather-data-fields.data-fields-opened {
			border: 2px solid rgba($text-dark, 0.1);
		}

		.weather-data-fields,
		.weather-data-fields.data-fields-opened {
			padding: 30px 50px;
			gap: 100px;
			@include flex(start, start, '');

			.weather-data-today,
			.weather-data-hourly {
				gap: 10px;
				@include flex(start, start, column);
			}
		}

		.weather-day-title {
			margin: 0 0 20px 0;
			gap: 20px;
			@include font('Montserrat', 20px, 600, $accent-blue);
			@include flex(center, start, '');

			.weather-brief-description {
				@include font('Montserrat', 18px, 400, $accent-blue);
			}

			.current-date {
				display: block;
				text-decoration: underline;
				text-transform: uppercase;
				@include font('Montserrat', 20px, 400, $text-dark);
			}
		}

		.field {
			width: 240px;
			border-bottom: 1px solid transparent;
			transition: border 0.3s ease-in;
			@include font('Inter', 18px, 400, $text-dark);
			@include flex(space-between, center, '');

			.field-indicators {
				@include font('Inter', 18px, 600, $accent-blue);
			}
		}

		.field.error-border {
			border-bottom: 1px solid rgba(216, 74, 58, 0.6);
		}

		.field.field-border-active {
			border-bottom: 1px solid rgba(119, 119, 119, 0.1);
		}

		.weather-hourly-fields {
			@include font('Inter', 18px, 400, $text-dark);

			.hourly-header {
				border-bottom: 1px solid rgba(119, 119, 119, 0.1);
				@include flex(center, center, '');

				.hourly-field {
					width: 120px;
					padding: 5px 10px 5px 0;

					.measurement-temp,
					.measurement-percent,
					.measurement-wind {
						@include font('Inter', 18px, 600, $accent-blue);
					}
				}
			}

			.hourly-body {
				.hourly-table-row {
					border-bottom: 1px solid rgba(119, 119, 119, 0.1);
					@include flex(start, center, '');

					.hourly-row-time,
					.hourly-row-indicator {
						width: 120px;
						padding: 5px 10px 5px 0;
					}

					.hourly-row-time {
						padding-right: 20px;
						@include flex(center, center, '');
					}

					.hourly-row-indicator {
						@include font('Inter', 18px, 600, $accent-blue);
					}
				}
			}
		}
	}

}